.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  padding: 15px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-4px);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
